* {
    box-sizing: border-box;
}

body {
    display: flex;
    margin: 0;
    padding: 0;
    flex-direction: column;
}

img {
    width: 400px;
    height: 200px;
}

ul {
    list-style: none;
    display: flex;
    gap: 24px;
}

a {
    text-decoration: none;
    color: beige;
}

button {
    display: flex;
    width: 90px;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: beige;
    border: none;
    border-radius: 6px;
    padding: 4px;

}

.header {
    background-color: #333300;
    display: flex;
    flex-direction: column;
    padding-left: 400px;
    padding-right: 400px;
    height: 400px;
}

.top-head,
.bottom-head {
    display: flex;
    justify-content: space-between;
}

.top-head {
    padding-bottom: 100px;
}

.text-card {
    display: flex;
    flex-direction: column;
    width: 400px;
}

.logo {
    font-size: 24px;
    font-weight: 500px;
    color: beige;
    padding-top: 12px;
}

.hero-text {
    font-size: 48px;
    font-weight: 800px;
    color: beige;
}

.sub-text {
    font-size: 18px;
    font-weight: 200px;
    color: whitesmoke;
    padding-bottom: 4px;
}
