body {
    font-family: Robota, sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
    color: #E5E7EB;
    display: flex;
    gap: 16px;
}

a {
    text-decoration: none;
    font-family: Robota, sans-serif;
    font-size: 18px;
    margin: 0;
    padding: 0;
    display: flex;
    color: #E5E7EB;
}

.header {
    display: flex;
    background-color: #1F2937;
    padding: 16px;
    justify-content: space-around;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

.right-header {
    gap: 8px;
}

.left-header,
.right-header {
    display: flex;
    align-items: center;
}